footer {
    background-color: $color-principal;
    width: 100%;
    height: 300px;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: 1fr 0, 5fr;
    padding: 10px;
    margin: 0;



    .redessociales {
        display: flex;
        font-size: 20px;
        padding: 10px;
        justify-content: center;
        align-items: center;

        h5 {
            text-align: start;
            font-size: 70px;
            padding: 10px;
            color: white;
        }

        p {
            color: black;
            text-align: center;
            padding: 20px;
        }

        a {
            width: 50px;
            height: 50px;
            margin: 5px;

            img {
                width: 50px;
                height: 50px;
            }
        }
    }

    .derechos {

        grid-column: 1/4;
        grid-row: 3/4;

        p {
            color: white;
            font-size: 18px;
            padding: 10px;
            text-align: center;
        }
    }
}