header {
    background-color: $color-principal;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: end;

    h1 {
        color: white;
        font-size: 80px;
        margin-left: 20px;

    }

    .navbar {
        .container-fluid {
            background-color: $color-principal;

            .navbar-toggler {
                background-color: white;
            }

            .collapse {
                .navbar-nav {
                    .nav-item {
                        a {
                            font-size: 22px !important;
                            color: white !important;
                            transition: color 0.3s;

                            &:hover {
                                color:$color-terciario !important;
                            }
                        }
                    }
                }
            }
        }
    }
}