* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}

/* ------- VARIABLES  --------*/

$color-principal: rgb(51, 59, 28);
$color-secundario: rgb(178, 136, 62);

/* ------- MIXINS --------*/

@mixin flex ($flex, $justify, $align ) {
    display: $flex;
    justify-content: $justify;
    align-items: $align;
}